@import "~normalize.css";
@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 20px auto 10px auto;
    max-width: 1000px;
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

.logo {
    background-image: url('../assets/webpack-logo.png');
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.code {
    color: crimson;
}
